/*global CSS  */
*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


body{
  margin: 0;
  padding: 0;
  width:100%;
}
/*global CSS  */




/*Nav Bar  */
.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}


.climb-title{
  font-size: 2.5rem;
  margin: .5rem;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover{
  background-color: #555;
}
/*Nav Bar  */





/* index.html CSS  */
#background-home{
  background-color: #878787;  
  background-image: url('.//imgs/homeclimb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.h1-position{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
}

/* index.html CSS  */






/* bouldering.html CSS  */
#background-bouldering{
  background-color: #878787;  
  background-image: url('.//imgs/boulder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.boulder-text{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

.boulder-gear{
  font-size: 40px;
  font-weight: bold;
  margin: 40px;
}

.boulder-button{
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
}

/* bouldering.html CSS  */


/* climb.html CSS  */
#background-climbs{
  background-color: #878787;  
  background-repeat: no-repeat;
  background-size: cover;
}


.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 200px;
    left: 550px;
    width: 50%;
    height: 50%;
}


.muscule-edit-1{
    position: absolute;
    top: 9%;
    left: 0;
    width: 20%;
    height: 50%;
  
}


.muscule-edit-2{
    position: absolute;
    top: 9%;
    right: 0;
    width: 20%;
    height: 50%;

}




/* climb.html CSS  */










/* holds.html CSS  */
#background-holds{
  background-color: #878787;  
  background-repeat: no-repeat;
  background-size: cover;
}


.holds-text{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

  .ul-holds {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

.list-holds{
    list-style: none;
    padding: 12px;
}

.climb-hold-images {
    width: 75%;
    box-shadow: 5px 5px 5px transparent;
    transition: all 0.5s;
    border: solid 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}


/* holds.html CSS  */




/*Climbing Images 1-6 Hover Animation  */
.image {
    position: relative;
    width: 800px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}


/* Attach as extra class to line: <div class="image__overlay"> in order to apply blue effect on hover  */
.image__overlay--blur {
    backdrop-filter: blur(5px);
}
/* Attach as extra class to line: <div class="image__overlay"> in order to apply blue effect on hover  */



/* Attach as extra class to line: <div class="image__overlay"> in order to apply background color effect on hover  */
.image__overlay--primary {
    background: #009578;
}
/* Attach as extra class to line: <div class="image__overlay"> in order to apply background color effect on hover  */




.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
    margin: 30px;
}
/*Climbing Images 1-6 Hover Animation  */



